@use "root" as root;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
html {
  overflow-x: hidden;
}
body {
  box-sizing: border-box;
  font-family: root.$primary-font !important;
  margin: 0;
  padding: 0;
}

.std-height {
  height: 100vh;
}
.body-color {
  background-color: root.$body-color;
}
.form-card {
  background-color: root.$white;
  border-radius: root.$radius;
  width: 30rem;
}
