<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include("../partial/head.ejs") %>
  </head>

  <body class="body-color">
    <div class="container">
      <div class="std-height d-flex align-items-center justify-content-center">
        <form class="form-card form-login p-4 login-form">
          <h3 class="text-center my-4 fw-bold">Sign in</h3>
          <div class="form-floating mb-3">
            <input name="email" type="email" class="form-control fw-bold text-primary login-email" id="email"
              placeholder="youremail@gmail.com">
            <label class="fw-bold text-black-50" for="email"><span><i class="bi bi-at"></i></span>Email Address</label>
            <div class="form-text ft-email"></div>
          </div>
          <div class="form-floating mb-3">
            <input name="password" type="password" class="form-control fw-bold text-primary login-password"
              id="password" placeholder="password">
            <label class="fw-bold text-black-50" for="password"><span><i class="bi bi-shield-lock"></i></span>
              Password</label>
            <div class="form-text ft-password"></div>
          </div>
          <div class="d-flex align-items-center justify-content-end">
            <button class="btn btn-primary btn-md fw-bold is-hover login-btn" disabled type="submit">Sign in <span><i
                  class="bi bi-arrow-right-circle"></i>
                <%- include("../partial/spinner.load.ejs", { size: "spinner-grow-sm", className: "spinner-login-btn" }) %>
              </span>
            </button>
          </div>
        </form>
      </div>
    </div>
    <%- include("../partial/script") %>
  </body>

</html>